
@media (max-width:767px){
#trend{
    display: none;
}
.carousel-item .d-flex {
    flex-wrap: wrap;
}
.carousel-item .row{
    margin-right: 0px !important;
    gap: 0px !important;
}
.category .category-box .box img{
    height: 300px !important; 
}
.home-content h1
{
    font-size: 43px !important;
}
.home-content h1 span
{
    font-size: 23px !important;
}
.home-content p
{
    font-size: 14px !important;
}

.brands .img img:hover {
    scale: 1.2 !important;
}
.products , .featured-info{
    grid-template-columns: repeat(auto-fit, minmax(140px , auto)) !important;
}
.carousel-inner .d-flex {
  flex-direction: row;
  flex-wrap: wrap;
}
.carousel-inner .d-flex .row{
    margin: auto;
  }
  .carousel-inner
  {
    flex-direction: column !important;
  }
  .product-all img{
    height: 80% !important;
}
.alerts{
    height: 75px !important;
    align-items: end !important;
}
.Discover-list{
    flex-wrap: wrap !important;
}
.alert-text{
    font-size: 11px;
}
#btns{
    flex-direction: row !important;
    flex-wrap: wrap;
    gap: 2px !important; 
}
#btns li{
    width: 30% !important;
    margin: auto !important;
}
.Nav a span{
    font-size: 10px !important;
}
.carousel-inner .d-flex .row{
    width: 100% !important;
}
.price p.name{
    font-size: 65% !important;
    width: 72%;
    font-weight: 400 !important;
}
.newsletter .newsletter-container .form{
    display: flex;
    width: 100% !important;
}
.newsletter{
    padding-right: 5px !important;
    padding-left: 5px !important;
}
.footer-container{
padding: 0 !important;
}
.d-xs-none{
    display: none;
}
.navbar img{
    display: flex;
    justify-content: center ;
    width: 12% !important;
}
.home-content h2 {
    font-size: 30px !important;
}
.home-content h1 {
    font-size: 36px !important;
}
.blogBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    padding-bottom: 90px;
    }
    #blog{
        padding: 100px 20px 0px 20px !important;
    }
    .blogImg{
        width:100% !important;
        margin-right: 0 !important;
        padding-bottom: 10px !important;
    }
    .blogDetails {
        width: 100% !important;
    }
    .newsletter .newsletter-container p {
        font-size: 11.5px !important; 
    }
    #aboutHead{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    #aboutHead img{
        width: 100% !important;
        margin-bottom: 20px;
    }
    #aboutHead div{
        padding-left: 0px !important;
    }
    #aboutApp .video{
        width: 100% !important;
    }
    .nav-item,
.navbar-social a {
    padding-left: 1rem !important;
}
.feature-box{
    width: 50% !important;
    margin-bottom: 5% !important;
}
.feature{
    padding: 40px 50px !important;
}
.productDetails{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap !important;
}
.productDetails .single-pro-img {
    width: 100% !important;
    margin-right: 0px !important    ;
}
.productDetails .single-pro-details{
    width: 100% !important;
    padding-top: 50px;
    padding-right: 0px !important;
}
.navbar{
    padding: 15px 10px;
}
.productDetails{
padding: 40px 10px !important;
}
    .cart-shop{
        grid-template-columns: 1fr !important;
    }
 .discount-token{
        border-top: 1px solid hsl(0, 0%, 90%) !important;
    }
 .wrapper-flex{
        gap: 20px !important;
    }
    .item-flex{
        flex-direction: column-reverse !important;
    }
    .checkout{
        width: 100% !important;
        border-right: none !important;
    }
    .btn-primary{
        width: 100% !important;
    }
    .cart-shop{

        width: 100% !important;
        border-bottom: 1px solid hsl(0, 0%, 90%) !important;
    }
    .cart-shop .wrapper{
        margin-top: auto !important;
    } 
    .cart-shop .cart-item-box{
        border-right: 1px solid hsl(0, 0%, 90%) !important;
        margin-bottom: 0px !important;
    }
    .cart-shop .wrapper .discount-token{
        border-top: none !important;
    }
    .Cart-container.container .item-flex{
        padding: 0px !important;
    }
    .price h4.addToCartCard{
    padding: 2.5px !important;
    font-size: 8px !important;
    }

}


@media (min-width: 768px) and (max-width: 1280px)  {
    .navbar{
        padding: 15px 10px;
    }
    .products , .featured-info{
        display: grid;
        grid-template-columns: repeat(3, 1fr) !important;
    }
    .product-all .card{
        width: 15rem !important;
    }
    .feature .feature-box{
        width: 200px !important;}
    .footer-row{
        flex-wrap: wrap;
    }
    .blogBox{
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        padding-bottom: 90px;
        }
        #blog{
            padding: 100px 20px 0px 20px !important;
        }
        .blogImg{
            width:50% !important;
            margin-right: 20px !important;
            padding-bottom: 10px !important;
        }
        .blogDetails {
            width: 50% !important;
        }
        footer .px-5 {
            padding-right: 0rem!important; 
            padding-left: 0rem!important;
        }
        .newsletter.p-5{
            padding-left: 1rem !important;
            padding-right: 1rem !important;
        }
        #aboutHead{
            display: flex;
            align-items: center;
            flex-direction: row;
            flex-wrap:wrap ;
            justify-content: center;
        }
        #aboutHead img{
            width: 55% !important;
            margin-bottom: 20px;
        }
        #aboutHead div{
            padding-left: 20px !important;   
            width: 100% !important;
        }
        #aboutApp .video{
            width: 100% !important;
        }
        .display{
            justify-content: end !important;
        }
        .feature-box{
            width: 50% !important;
            margin-bottom: 5% !important;
        }
        .banner , #page-header{
            height: 25vh !important;
        }
        .item-flex{
            flex-direction: column-reverse !important;
        }
        .checkout{
            width: 100% !important;
            border-right: none !important;
        }
        .btn-primary{
            width: 100% !important;
        }
        .cart-shop{
            display: grid !important;
            grid-template-columns: 1fr 1fr !important;
            width: 100% !important;
            border-bottom: 1px solid hsl(0, 0%, 90%) !important;
        }
        .cart-shop .wrapper{
            margin-top: auto !important;
        } 
        .cart-shop .cart-item-box{
            border-right: 1px solid hsl(0, 0%, 90%) !important;
            margin-bottom: 0px !important;
        }
        .cart-shop .wrapper .discount-token{
            border-top: none !important;
        }
        .Cart-container.container .item-flex{
            padding: 0px !important;
        }
    
}

